@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
section {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#ff4f8b,#dff1ff);
}
section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255,255,255,0.5);
}
section .color {
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1) {
    background:#ff359b ;
    width: 600px;
    height: 600px;
    top:-350px ;
}
section .color:nth-child(2) {
    background: #00d2ff;
    width: 500px;
    height: 500px;
    bottom: -150px;
    left: 100px;
}
section .color:nth-child(3) {
    background: #fffd87;
    width: 300px;
    height:300px ;
    bottom: 50px;
    right: 0px;
}
ul {
    position: relative;
    z-index: 2;
    display: flex;
}
ul li {
    position: relative;
    list-style: none;
    margin: 13px;
}
ul li a {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.486);
    text-align: center;
    line-height: 80px;
    color: #fff;
    font-size: 2em;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    box-shadow: 2px 5px 45px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    overflow: hidden;

}
ul li a:hover {
    transform: translateY(-20px);
}
ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    /* border-radius: 10px; */
    background: rgba(255,255,255,0.5);
    transform: skewX(50deg) translateX(150px);
    transition: 0.5s;
}
ul li a:hover:before {
    transform: skewX(50deg) translateX(-150px)
}